.about {
  position: relative;
  color: #1a1a1a;
  background-color: #e6e6e6;
  padding-bottom: 0; }

.about + section {
  margin-top: 0; }

.h-card {
  opacity: .85;
  transform: translateY(2.5em); }

.transition-shape {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%); }

.trapezoid {
  border-top: 5em solid #e6e6e6;
  border-left: 5em solid transparent;
  border-right: 5em solid transparent;
  height: 0;
  width: calc(100% / 3); }

.trapezoid:first-child:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 5em solid #e6e6e6;
  border-right: 5em solid transparent; }

.trapezoid:last-child:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 5em solid #e6e6e6;
  border-left: 5em solid transparent; }
