footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 6em);
    padding: 2em 3em;
    background-color: rgb(200,200,200);
}

footer > * {
    display: inline-block;
}
footer p {
    margin: 0;
}
footer a {
    margin-left: .5em;
}

.footer__int-links {
    margin-left: 1em;
}

.footer__ex-links {
    float: right;
    margin-right: 1em;
}
