footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: calc(100vw - 6em);
    padding: 2em 3em;
    background-color: rgb(30,30,30);
    color: rgb(250,250,250);
    z-index: 1;
}

footer > * {
    display: inline-block;
}
footer p {
    margin: 0;
}
footer a,
footer a:visited {
    margin-left: 1em;
    color: inherit;
    text-decoration: none;
}
footer a:hover {
    color: #B466DB;
}

.footer__int-links {
    margin-left: 1em;
}

.footer__ex-links {
    float: right;
    margin-right: 1em;
}
