footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: calc(100vw - 6em);
  padding: 2em 3em;
  background-color: #1a1a1a;
  color: #59778f;
  z-index: 1; }

footer > * {
  display: inline-block; }

footer p {
  margin: 0; }

footer a,
footer a:visited {
  margin-left: 1em;
  color: #59778f;
  text-decoration: none;
  font-weight: bold; }

footer a:hover {
  color: #9482bf; }

.footer__int-links {
  margin-left: 1em; }

.footer__ex-links {
  display: flex;
  float: right;
  margin-right: 1em; }

footer .is-dark .social-icon__image {
  fill: #59778f; }

footer .is-dark .social-icon__image:hover {
  fill: #9482bf; }
