nav {
  position: fixed;
  flex-direction: column;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 3em 2em 0;
  margin-right: -1em;
  background-color: #399aea;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  transform: none;
  transition: transform .2s, background-color 3s;
  z-index: 1; }

@media screen and (min-width: 1px) {
  nav {
    display: none; } }

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    width: calc(20vw - 4em + 1em); } }

@media screen and (min-width: 1024px) {
  nav {
    width: calc(15vw - 4em + 1em); } }

nav:hover {
  background-color: #8766db;
  transform: translateX(-1em); }

nav a,
nav a:visited {
  text-decoration: none;
  color: #fafafa;
  opacity: .6;
  margin: 1em 0;
  font-weight: normal;
  transform: none;
  transition: transform .2s, opacity .2s; }

nav a:hover,
nav a.is-active {
  color: #fafafa;
  opacity: 1;
  font-weight: bold;
  transform: scale(1.1); }
