.social-icon {
  width: 5em;
  text-decoration: none; }

.social-icon__image {
  fill: #1a1a1a;
  transition: fill .2s; }

.is-dark .social-icon__image {
  fill: #e6e6e6; }

.social-icon:hover .social-icon__image {
  fill: #399aea; }

.social-icon:nth-child(2n):hover .social-icon__image {
  fill: #8766db; }

.social-icon__text {
  text-align: center;
  color: #399aea;
  text-decoration: none;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity .2s; }

a:nth-child(2n) .social-icon__text {
  color: #8766db; }

.social-icon:hover .social-icon__text {
  opacity: 1; }

.social-icons--footer .social-icon {
  width: 2em; }

.social-icons--footer .social-icon__image:hover {
  fill: #8766db; }

.social-icons--footer .social-icon__text {
  display: none; }
