.tools {
    width: 50%;
}

.tools [role=grid] {
    justify-content: center;
}
.tools [role=gridcell] {
    margin: 1em;
}

.tool-icon {
    width: calc(15% - 2em); /* 2em accounts for margins on [role=gridcell] in index.css */
}

.tool-icon svg {
    fill: rgb(30,30,30);
    cursor: pointer;
}
.tool-icon svg:hover {
    fill: #399aea;
}
.tool-icon:nth-child(2n) svg:hover {
    fill: #e25a5a;
}
